<div fxLayout="row" fxLayoutAlign="center center">
  <mat-tab-group fxFlex="80">
    <mat-tab label="Form1">
      <mat-card class="mat-elevation-z2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae hendrerit dolor. Vestibulum volutpat at ante sit amet mattis. Curabitur eget sapien vitae ante molestie commodo. Cras eu libero non urna elementum molestie. Vivamus sodales tincidunt ante ut eleifend. Integer aliquet dui vel mi mollis dapibus. Cras nec mollis nisl, vel egestas eros. Morbi elit nunc, mollis sit amet enim quis, fermentum gravida orci. Maecenas bibendum sollicitudin odio, in convallis ligula scelerisque non. Nullam ut felis pulvinar, vestibulum odio a, semper metus. Sed eros nulla, tincidunt id faucibus a, laoreet nec est.
      </mat-card>
      <mat-card class="mat-elevation-z2">
        Mauris hendrerit odio ut mi bibendum scelerisque. Praesent vel auctor metus. Ut et orci eu risus ullamcorper condimentum ac non magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ut molestie justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris venenatis sodales ullamcorper. Aliquam erat volutpat.
      </mat-card>
    </mat-tab>
    <mat-tab label="Form2">
      <mat-card class="mat-elevation-z2">
      Mauris hendrerit odio ut mi bibendum scelerisque. Praesent vel auctor metus. Ut et orci eu risus ullamcorper condimentum ac non magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ut molestie justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris venenatis sodales ullamcorper. Aliquam erat volutpat.
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
